.header {
  background: #222;
  color: #fff;
  padding: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  
}


.hamburger-menu {
    background: none;
    
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.hamburger-menu span {
    display: block;
    width: 25px;
    height: 3px;
    background: #fff;
}

.nav {
    display: none;
}

.layout {
    display: block;
    background: #d1d4d4;

}

.main {
    background: #a8d1eb;
    color: #00008B;
    padding: 1rem;
}

.aside {
    display: none;
    
}

.tile {
    background: #f7dfc8;
    color: #41008b;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
}

.footer {

    background: #e9ecee;
    color: brown;
    padding: 1rem;
    font-size: small;
}

@media (min-width: 768px) {
    .nav {
        display: block;
    }
    .hamburger-menu {
        display: none;
    }
    .layout {
        display: flex;
        gap: 2rem;
        max-width: 1500px;
        margin: 0 auto;
        align-items: stretch;
        padding: 2rem;
        
    }
    
    .main {
        
        flex: 3;
    }

    .aside {
        display: block;
        flex: 1;
        background: #c2d1cd;
        
    }

    .aside-section {
        background: #d7d9da;
        margin: 10px;
        font-family: Helvetica;      
    }

    .aside-heading {
        background: #989a9b;
        font-size: large;    
        margin: 0 auto;
    }

    .aside-content{
        background: #7391a0;
        height: 100px;
        margin: 0 auto;
    }

    .aside-footer{
        background: #5c2b2b;
        color:#fff;
        font-size: small;
    }
}