.header {
  background: #222;
  color: #fff;
  padding: 1rem;
}

.main {
    background: #87CEFA;
    color: #00008B;
    padding: 1rem;
}

.footer {

    background: #e9ecee;
    color: brown;
    padding: 1rem;
    font-size: small;
}